$body-bg: #F3F3F3;
$font-size: 16px;
$font-family: Lato, Helvetica, Arial, sans-serif;
$line-height: 1.7;

$mobile-width-breakpoint: 800px;

// Main sizing
$desktop-main-max-width: 800px;
$desktop-main-padding: 40px 30px 20px 40px;
$mobile-main-padding: 30px 10px 10px 10px;

// Navigation bar
$nav-container-side-width: 200px;
$nav-container-desktop-shadow: 1px 0px 2px #AAA;

$nav-container-mobile-height: 180px;
$nav-container-mobile-bg: #383838;
$nav-container-mobile-shadow: 0px 2px 2px #AAA;

// Stadiums
$stadium-item-initial-padding: 0px 5%;
$stadium-item-final-padding: 10px 5%;

$code-font-family: Menlo, Monaco, monospace;