@import '_prism.scss';
@import '_variables.scss';
@import '_img_holder.scss';
@import '_stadium.scss';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: white;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
}

a {
  text-decoration: none;
}

p {
  margin: 15px 0px;
}

#main {
  padding: 10px 10px 0px;
  max-width: $desktop-main-max-width;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.nav-container {
  background: #000;
  color: white;
  box-shadow: 0px 1px 4px 0px #888;
}

.nav-logo {
  font-size: 2em;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;

  a {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.25em;
    background: black;
  }
}

.nav-blurb {
  text-align: center;
  margin: 10px 0px;
}

.nav-contact-icons {
  text-align: center;
  ul {
    margin: 0;
    padding-left: 0;
  }
  li {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    cursor: pointer;
    margin: 0px 3px;

    &:hover {
      transition: 0.2 s ease-in-out box-shadow;
      box-shadow: 0px 0px 3px #FFF;
    }
  }
}

nav {
  font-family: $font-family;
  padding: 5px 0px;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0px 7px;

  }

  a {
    padding: 5px;
    text-decoration: none;
    color: white;

    &:hover, &.active {
      color: #DE2F2F;
    }
  }
}

.powered-by {
  width: 100%;
  text-align: center;
  color: #888;
  position: absolute;
  bottom: 5px;
  font-weight: 300;
}

.post-preview {
  border-bottom: 1px solid #AAA;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.more {
  color: #DE2F2F;
  font-weight: 300;

  &:hover {
    color: #AAA;
  }
}

.post-date {
  font-style: italic;
}

.project {
  margin: 10px 0px;
}

.project-title {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  a {
    color: #DE2F2F;

    &:hover {
      color: #888;
    }
  }
}

.stadium-list {
  list-style: none;
  padding: 0;
}

.view-github {
  margin-top: 50px;
  font-weight: bold;
}

// View transitions
.view.ng-enter,
.view.ng-leave {
  transition: 0.1s linear opacity;
}

.view.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.view.ng-enter-active {
  opacity: 1;
  height: auto;
}
.view.ng-leave {
  opacity: 1;
  overflow: hidden;
}
.view.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.loading-text {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.stadiums-header {
  height: 300px;
  background-image: url(/images/stadiums/dodgers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: ' ';
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
  }
}

// Animations

@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    text-align: center;
}

.overlay-content {
  position: relative;
}

.overlay img {
  opacity: 1;
  height: auto;
  width: 90%;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Utility classes
.row      { width: 100%; }
.left     { float: left; }
.right    { float: right; }
.center   { text-align: center; }
.clear    { clear:both; }
.noscroll { overflow: hidden; }
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}